{% extends "base.html" %}
{% block title %}Vinat{% endblock title %}

{% block main %}
<div>
	<p>Мы занимаемся поставками нефтехимических продуктов</p>
</div>
<div class="Aboutus">
	<p>О нас</p>
	<div class="Line"></div>
	
	<div class="summary">Компания специализируется на оптовой продаже продуктов нефтехимии и полимерных материалов в России и странах СНГ. Мы поставляем нефтехимическое сырье, полимеры и минеральные удобрения, предлагая выгодные условия и оперативную доставку в установленные сроки. Среди наших клиентов, как небольшие предприятия, так и лидеры химической промышленности: «Газпром нефтехим Салават», «ТольяттиАзот», «Уфаоргсинтез», «Синтез-каучук» и др.</div>
</div>
<div class="Partners">
	<p>Партнеры</p>
	<div class="Line"></div>
</div>
{% endblock main %}