{% extends "base.html" %}
{% block title %}PS{% endblock title %}
{% block section %}
<div id="Hider" class="HideSite">
	<div class="SignForm">
		<form action="/ps" method="post">
			<div class="back"> <a class="backa" href="#" onclick="closebox('Hider'); return false">Назад</a></div>
			<p>Введите ваш номер телефона</p>
			<input type="text" name="phone number">
			<p>или почту</p>
			<input type="text" name="email">
			<div class="send"><a class="senda" href="#">Отправить</a></div>						
		</form>
	</div>
</div>
{% endblock section %}
{% block main %}
<div>
	<h1>Полистерол</h1>
	<div class="summary">Компания предлагает купить гранулы полистирола оптом и в розницу от ведущих российских производителей. Мы гарантируем высокое качество продукции, соответствующее современным стандартам и нормам, а также выгодные условия поставок и индивидуальные условия обслуживания.</div>
	
</div>
<div class="types">
	<p>Виды товара</p>
	<table class="adminTable">
		<tr>
			<td>
				<ul>
					
					<li>ПВД марки ХХХ
						<p>00CH1337</p>
					</li>
					<li>Паспорт на товар
						<p><a href="">PVD_Passport.pdf</a></p>
					</li>
					
					<li><a class="cd-signup" href="#" onclick="openbox('Hider'); return false">Оставить заявку</a>
					</li>		
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					
					<li>ПВД марки ХХХ
						<p>00CH1337</p>
					</li>
					<li>Паспорт на товар
						<p><a href="">PVD_Passport.pdf</a></p>
					</li>
					
					<li><a class="cd-signup" href="#" onclick="openbox('Hider'); return false">Оставить заявку</a>
					</li>		
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					
					<li>ПВД марки ХХХ
						<p>00CH1337</p>
					</li>
					<li>Паспорт на товар
						<p><a href="">PVD_Passport.pdf</a></p>
					</li>	
					<li><a class="cd-signup" href="#" onclick="openbox('Hider'); return false">Оставить заявку</a>
					</li>		
				</ul>
			</td>
		</tr>
	</table>	
</div>
{% endblock main %}