<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/MainPage.css" %}">
	
		<style>
		  @font-face {
		      font-family: OpenSans;
		      src: local('OpenSans'),
		      url('{% static "fonts/OpenSans-Light.ttf" %}')  format("truetype");
		  }
		</style>	
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script>
			function openbox(n){
			document.getElementById("Hider").style.display = 'block';
			}
			function closebox(n)
			{
			document.getElementById("Hider").style.display = 'none';
			}
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	</head>
	<body>
		<nav class="MainMenu">
			<section>
			<div><a href="/">Главная</a></div>
			<div><a href="pvd">ПВД</a></div>
			<div><a href="ps">Полистирол</a></div>
			<div><a href="pp">Полипропилен</a></div>
			<div><a href="">Контакты</a></div>
			<div><a href="">О компании</a></div>
			</section>
		</nav>		
		<div class="wrapper">
			{% block section %}{% endblock section %}						
			<div class="header">
				<div class="logo">Место под логотип</div>
				<div class="contact">
					<ul>
						<li>Телефон:</li>
						<li>Электронная почта: </li>
					</ul>	
				</div>
			</div>
			<main>
				{% block main %}{% endblock main %}
			</main>	
			<footer>

				<ul >
					<p style="float: none;">Местоположение</p>
					<li >
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa9ffcc202b39118dd63f4ca22cbe5506949003ce1e0766a60c7b97eab572c10a&amp;width=350&amp;height=250&amp;lang=ru_RU&amp;scroll=true"></script>
					</li>
				</ul>

				<ul style="margin-left: 100px;" >
					<p>Контакты</p>
					<li style="margin-top: 40px;"><a href="">asd</a></li>
					<li><a href="">asd</a></li>
					<li><a href="">asd</a></li>
				</ul>

				<ul>
					<p>Регистрационные данные</p>
					<li style="margin-top: 40px;"><a href="">asd</a></li>
					<li><a href="">asd</a></li>
					<li><a href="">asd</a></li>
					<li><a href="">asd</a></li>
				</ul>	
				<p style="margin-top: 70px; margin-left: 550px;">© 2018-2019 «Vinat»</p>
			</footer>	
		</div>
	</body>
</html>